<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= encabezado %></h1>
    <p><%= cuerpo %></p>
    <p><%= pie %></p>
  </body>
</html>
